# Ignore all files in the node_modules directory
node_modules/

# Ignore all files in the dist directory
dist/

# Ignore all files in the build directory
build/

# Ignore all files in the .env file
.env

# Ignore all files in the .history directory
.history/

# Ignore all files in the .vscode directory
.vscode/

# Ignore outdated files
outdated/
